@{
    ViewBag.Title = "VASC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h3 class="col-md-12">Upload Data</h3>*@
<form action="" met method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                @*<h5 class="card-header">Nhập dữ liệu Text</h5>*@
                <div class="card-body">
                    <div class="form-group">
                        <textarea rows="10" class="form-control" name="txtDataVal" data-val="true" data-val-required="Vui lòng nhập giá trị"></textarea>
                        <span class="field-validation-valid text-danger" data-valmsg-for="txtDataVal" data-valmsg-replace="true"></span>
                    </div>
                    <div class="form-group">
                        <label for="rdoTextAddTichHop">
                            <input type="radio" value="1" name="rdoTextAddType" checked />
                            Tích hợp
                        </label>
                        <label for="rdoTextAddTichHop">
                            <input type="radio" value="2" name="rdoTextAddType" checked />
                            Tích hợp
                        </label>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="javascript:;" data-url="@Url.Action("XuLyNhapTextData")" class="btn btn-primary btnAction" data-id="1" data-toggle="tooltip" data-placement="bottom" title="Nhập thêm và giữ lại dữ liệu cũ">Nhập thêm</a>
                    <a href="javascript:;" data-url="@Url.Action("XuLyNhapTextData")" class="btn btn-warning btnAction" data-id="2" data-toggle="tooltip" data-placement="bottom" title="Xóa dữ liệu cũ và nhập dữ liệu mới">Làm mới & Nhập</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group">
                        <textarea rows="10" class="form-control" name="txtDataReturn" data-val="true" data-val-required="Vui lòng nhập giá trị"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="clearfix"></div>
@section scripts {
    <script>
        AjaxLoaddingBounce();
        function MerginMonth() {
            if ($('#ckhMerginMonth').prop('checked') == true) {
                var date = new Date();
                date.setMonth(date.getMonth() - 1);
                var month = date.getMonth() + 1;
                month = month < 10 ? '0' + month : month + '';
                var year = date.getFullYear();
                $('select[name="time"]').hide();
                $('#lblTime').html(year + month).show();
            } else {
                $('select[name="time"]').show();
                $('#lblTime').hide();
            }
        };
        function getNotes(obj) {
            obj = $(obj);
            if (obj.prop('checked') == true) {
                $('.NoteTextData').find('.notes').addClass('hide');
                $('.NoteTextData').find('[data-val="' + obj.val() + '"]').removeClass('hide');
            }
        };
        $('[name="rdoTextAddType"]').on('click', function () {
            getNotes($(this));

        })
        $(function () {
            MerginMonth();
            getNotes('[name="rdoTextAddType"]');
        });
        $('#ckhMerginMonth').on('click', function () {
            MerginMonth();
        });
        function ActionLink(obj) {
            var formdata = new FormData($('form')[0]);
            for (var i in obj.data)
                formdata.append(i, obj.data[i]);
            //obj.data = $.extend({}, { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() }, obj.data);
            $.ajax({
                url: obj.url,
                type: 'POST',
                dataType: 'json',
                data: formdata,
                cache: false,
                contentType: false,
                processData: false,
                success: function (d) {
                    if (d.success) {
                        $('#TMAlert').TMAlert({ type: "success", message: d.success });
                        $("form")[0].reset();
                    }
                    if (d.danger)
                        $('#TMAlert').TMAlert({ type: "danger", message: d.danger });
                    if (d.warning)
                        $('#TMAlert').TMAlert({ type: "warning", message: d.warning });
                    if (d.url)
                        window.location = d.url;
                    $('.custom-file-label').html('');
                    $('.lblUpload').html('');
                    if (d.rs) $('[name="txtDataReturn"]').html(d.rs)
                },
                error: function (xhr, error, status) {
                    $('#TMAlert').TMAlert({ type: "danger", message: window.location.protocol + '//' + window.location.host + this.url + ' is ' + xhr.status + ' ' + xhr.statusText });
                    //console.log(error, status);
                }
            });
        };
        //Action link
        $('.btnAction').on('click', function (e) {
            e.preventDefault();
            ActionLink({ url: $(this).attr('data-url'), data: { data_id: $(this).attr('data-id') } });
        });
    </script>
}